USE [master]
GO
/****** Object:  Database [Filtro]    Script Date: 12/16/2022 3:41:12 PM ******/
CREATE DATABASE [Filtro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Filtro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Filtro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Filtro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Filtro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Filtro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Filtro]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[ThoiGianMua] [date] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang_ChiTiet]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang_ChiTiet](
	[MaGHCT] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[GiaTien] [float] NULL,
	[MaGH] [int] NULL,
 CONSTRAINT [PK_HoaDon_ChiTiet_1] PRIMARY KEY CLUSTERED 
(
	[MaGHCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayXuatHD] [date] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1000,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [varchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[MaTK] [int] NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luong]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[MaLuong] [varchar](50) NOT NULL,
	[VaiTro] [varchar](50) NULL,
	[HinhThuc] [varchar](50) NULL,
	[LuongTheoGio] [int] NULL,
 CONSTRAINT [PK_Luong] PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiBanHang]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiBanHang](
	[MaNBH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Anh] [varchar](500) NULL,
	[TinhTrang] [int] NULL,
	[MaTK] [int] NULL,
 CONSTRAINT [PK_NguoiBanHang] PRIMARY KEY CLUSTERED 
(
	[MaNBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE NguoiBanHang ADD Shop int not null default (1)

/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [varchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [varchar](50) NOT NULL,
	[SDT] [varchar](50) NULL,
	[MaLuong] [varchar](50) NULL,
	[MaTK] [int] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[GiaTien] [int] NULL,
	[MoTa] [nvarchar](500) NULL,
	[Anh] [varchar](500) NULL,
	[TinhTrang] [int] NULL,
	[MaDanhMuc] [int] NULL,
	[MaNBH] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE SanPham ADD Shop int not null default (1)
go
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[NgayTao] [date] NULL,
	[MaVaiTro] [int] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 12/16/2022 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

create table Shop(
MaShop int,
TenShop nvarchar(50),
NguoiBanHang int,
)
go
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TinhTrang]) VALUES (1, N'Cà phê bột', 1)
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TinhTrang]) VALUES (2, N'Cà phê nén', 1)
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TinhTrang]) VALUES (3, N'Cà phê nhân xanh', 1)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [SDT], [MaTK]) VALUES (1000, N'Hung', CAST(N'1994-02-02' AS Date), N'Nam', N'0147258369', 6)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [SDT], [MaTK]) VALUES (1001, N'Tin', CAST(N'1996-04-23' AS Date), N'Nam', N'0123456789', 7)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [SDT], [MaTK]) VALUES (1002, N'Nguyen Xuyen', CAST(N'1997-05-06' AS Date), N'Nam', N'0987654321', 8)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Luong] ([MaLuong], [VaiTro], [HinhThuc], [LuongTheoGio]) VALUES (N'ml1', N'Nhan Vien', N'Part-time', 50000)
INSERT [dbo].[Luong] ([MaLuong], [VaiTro], [HinhThuc], [LuongTheoGio]) VALUES (N'ml2', N'Admin', N'Full-time', 80000)
GO
SET IDENTITY_INSERT [dbo].[NguoiBanHang] ON 

INSERT [dbo].[NguoiBanHang] ([MaNBH], [HoTen], [Anh], [TinhTrang], [MaTK]) VALUES (1, N'Pham Anh', NULL, 1, 14)
INSERT [dbo].[NguoiBanHang] ([MaNBH], [HoTen], [Anh], [TinhTrang], [MaTK]) VALUES (2, N'Bui Hau', NULL, 1, 15)
INSERT [dbo].[NguoiBanHang] ([MaNBH], [HoTen], [Anh], [TinhTrang], [MaTK]) VALUES (3, N'Cong Phuong', NULL, 1, 25)
SET IDENTITY_INSERT [dbo].[NguoiBanHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SDT], [MaLuong], [MaTK], [TinhTrang]) VALUES (1, N'Huynh Banh', CAST(N'1996-10-10' AS Date), N'Nam', N'0123456789', N'ml2', 1, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SDT], [MaLuong], [MaTK], [TinhTrang]) VALUES (2, N'Nguyen An', CAST(N'1998-06-12' AS Date), N'Nu', N'0987654321', N'ml1', 3, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SDT], [MaLuong], [MaTK], [TinhTrang]) VALUES (3, N'Tran Bich Thuy', CAST(N'2000-11-11' AS Date), N'Nu', N'0111111111', N'ml2', 4, 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSanPham], [SoLuong], [GiaTien], [MoTa], [Anh], [TinhTrang], [MaDanhMuc], [MaNBH]) VALUES (1, N'Cà phê hạt Lavazza Gran Espresso', 50, 950000, N'Với sự kế hợp đặt biệt của hạt Arabica, và hạt Robusta tạo nên loại cà phê đậm đà phù hợp với những khách hàng yêu thích Espreso', N'https://images.weserv.nl/?url=wp.sieuthicafe.vn/wp-content/uploads/2022/03/khung-canh-kich-thuoc-3.png&h=400&w=600&fit=outside&il=1', 1, 5, 1)
INSERT [dbo].[SanPham] ([MaSP], [TenSanPham], [SoLuong], [GiaTien], [MoTa], [Anh], [TinhTrang], [MaDanhMuc], [MaNBH]) VALUES (2, N'Cà phê Blagu hạt đã rang', 45, 375000, N'Hương hoa
Si-rô cùng với hương vị của quả boysenberry và blueberry và một số hương vị khác tạo nên cảm giác mới mẻ cho người uống.', N'https://images.weserv.nl/?url=wp.sieuthicafe.vn/wp-content/uploads/2022/05/blagu-sieuthicafevn-ethiopia-nensebo-refisa.jpg&h=400&w=600&fit=outside&il=1', 1, 4, 2)
INSERT [dbo].[SanPham] ([MaSP], [TenSanPham], [SoLuong], [GiaTien], [MoTa], [Anh], [TinhTrang], [MaDanhMuc], [MaNBH]) VALUES (3, N'Cà phê nén Nespresso Ristretto', 70, 200000, N'Trọng tâm duy nhất của Nespresso là cung cấp cà phê chất lượng cao nhất và trải nghiệm cà phê sau mỗi tách', N'https://images.weserv.nl/?url=wp.sieuthicafe.vn/wp-content/uploads/2022/05/ffee-ispirazione-ristretto-italiano-decaffeinato-capsule-nespresso-50g_f6fa7fcd48584bfe910275490e02781c.webp&h=400&w=600&fit=outside&il=1', 1, 2, 3)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TaiKhoan], [MatKhau], [Email], [NgayTao], [MaVaiTro], [TinhTrang]) VALUES (1, N'TTAA', N'123123', N'456@gmail.com', CAST(N'2022-02-03' AS Date), 1, 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [TaiKhoan], [MatKhau], [Email], [NgayTao], [MaVaiTro], [TinhTrang]) VALUES (2, N'admin', N'ad1', NULL, CAST(N'2022-10-10' AS Date), 1, NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [TaiKhoan], [MatKhau], [Email], [NgayTao], [MaVaiTro], [TinhTrang]) VALUES (3, N'nhanvien1', N'nv1', NULL, CAST(N'2022-10-10' AS Date), 2, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (1, N'Admin')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (2, N'Nhan Vien')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (3, N'KhachHang')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO

insert into Shop (MaShop,TenShop, NguoiBanHang) values (1, N'Cà phê chồn A', 1)
insert into Shop (MaShop,TenShop, NguoiBanHang) values (2, N'Cà phê thái nguyên B', 2)
insert into Shop (MaShop,TenShop, NguoiBanHang) values (3, N'Cà phê thơm ngon C', 3)
go
/****** Object:  Index [IX_KhachHang_MaTK]    Script Date: 12/16/2022 3:41:12 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [IX_KhachHang_MaTK] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien_MaTK]    Script Date: 12/16/2022 3:41:12 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [IX_NhanVien_MaTK] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A552DDABDA]    Script Date: 12/16/2022 3:41:12 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ__NhanVien__CA1930A552DDABDA] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__D5B8C7F039955D82]    Script Date: 12/16/2022 3:41:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ__TaiKhoan__D5B8C7F039955D82] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__D5B8C7F08B36CD08]    Script Date: 12/16/2022 3:41:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ__TaiKhoan__D5B8C7F08B36CD08] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__D5B8C7F0AC18A387]    Script Date: 12/16/2022 3:41:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ__TaiKhoan__D5B8C7F0AC18A387] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__D5B8C7F0C701C38D]    Script Date: 12/16/2022 3:41:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ__TaiKhoan__D5B8C7F0C701C38D] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_TK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_TK]
GO
ALTER TABLE [dbo].[GioHang_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_ChiTiet_GH] FOREIGN KEY([MaGH])
REFERENCES [dbo].[GioHang] ([MaGH])
GO
ALTER TABLE [dbo].[GioHang_ChiTiet] CHECK CONSTRAINT [FK_GioHang_ChiTiet_GH]
GO
ALTER TABLE [dbo].[GioHang_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_ChiTiet_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang_ChiTiet] CHECK CONSTRAINT [FK_HoaDon_ChiTiet_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK__KhachHang__MaTK__339FAB6E] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK__KhachHang__MaTK__339FAB6E]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TK]
GO
ALTER TABLE [dbo].[NguoiBanHang]  WITH CHECK ADD  CONSTRAINT [FK_NguoiBanHang_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[NguoiBanHang] CHECK CONSTRAINT [FK_NguoiBanHang_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Luong] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[Luong] ([MaLuong])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_Luong]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
USE [master]
GO
